* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
#ip {
	color: white;
	position: absolute;
	text-align: center;
	margin-top: -6%;
	width: 100%;
}
.copyip {
	padding: 10px 80px;
	background-color: rgb(145, 145, 145);
	border: solid 3px rgb(82, 82, 82);
	transition-duration: 250ms;
	border-radius: 15px;
	opacity: 90%;
}

.copyipcenter {
	width: max-content;
	margin: auto;
	margin-top: 16%;
}

.copyip:hover {
	filter: brightness(90%);
	cursor: pointer;
	transition-duration: 250ms;
}
.copyico {
	width: 30px;
	margin-left: 3px;
}

body {
	background-color: black;
}

.tlo {
	background-image: url(https://i.imgur.com/I8Eu5p0.jpeg);
    position: absolute;
    z-./: -1;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	filter: brightness(50%);
}

.discord {
	display: flex;
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 4.1%; 
	display: flex;
	align-items: center;
	transition: 250ms;
}
.discord:hover {
	filter: brightness(80%);
	cursor: pointer;
	transition: 250ms;
}

#nawigacja {
	width: 100%;
	display: inline-block;
	font-weight: bold;
}
a.nawigacja {
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 33px 20px;
	float: right;
	width: 15%;
	position: relative;
}
a.nawigacja:hover {
	filter: brightness(80%)
}

.home {
	width: 6.3%;
	margin: 0;
	top: 0px;
	margin-left: 0.5%;
	transition: 250ms;
}

.home:hover {
	transition: 250ms;
	filter: brightness(80%);
}
#rangi {
	width: 100%;
	position: relative;
	top: 500px;
}
.buycard {
	width: 208px;
	height: 300px;
	background-color: rgb(74, 74, 74);
	border: 5px solid #6c6c6c;
	display: inline-block;
	border-radius: 30px;
}

.buycardbtn {
	position: absolute;
	color: white;
	text-decoration: none;
	text-align: center;
	bottom: 20px;
	padding: 7px 30px;
	background-color: rgb(5, 208, 2);
	border-radius: 15px;
	margin: 0 50px;
}

#rangitype {
	top: 200px;
	border-bottom: 1px solid greenyellow;
	color: white;
	text-align: center;
	width: max-content;
	margin: 20px auto;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background-color: black
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: linear-gradient(#A1FF4F, #A1F04F); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #71B038;
  }

/* 404 */

#error .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}