* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
#ip {
	color: white;
	text-align: center;
	position: relative;
	margin-top: -90px
}

.copyip {
	border: solid 1px rgb(82, 82, 82, 1);
	transition: 250ms;
	border-radius: 15px;
	padding: 10px 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: rgba(0, 0, 0, 0.1)
}
.copyip p {
	color: rgb(100, 245, 255);
	margin-top: -35px;
	margin-bottom: 8px;
	font-size: 20px;
	margin-left: 30%;
	width: max-content;
}

.copyip:hover {
	cursor: pointer;
	transition: 250ms;
	background-color: rgba(0, 200, 0, 0.2)
}
.copyico {
	margin-top: -5px;
	width: 50px;
	display: block;
	margin-left: -60px
}
#centerip {
	width: max-content;
	margin: auto;
	margin-top: 200px;
}

body {
	background-color: black;
}

.tlo {
	background-image: url(https://i.imgur.com/I8Eu5p0.jpeg);
    position: absolute;
    z-index: -1;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	filter: brightness(50%);
}

.discord {
	display: flex;
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px; 
	display: flex;
	align-items: center;
	transition: 250ms;
}
.discord:hover {
	filter: brightness(80%);
	cursor: pointer;
	transition: 250ms;
}
.youtube {
	display: flex;
	position: fixed;
	bottom: -1px;
	right: 80px;
	width: 90px; 
	display: flex;
	align-items: center;
	transition: 250ms;
}
.youtube:hover {
	filter: brightness(80%);
	cursor: pointer;
	transition: 250ms;
}

#nawigacja {
	width: 100%;
	display: inline-block;
	font-weight: bold;
}
a.nawigacja {
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 20px 5px;
	padding: 5px;
	float: right;
	width: 15%;
	position: relative;
}
a.nawigacja:hover {
	transition: 250ms;
	filter: brightness(80%)
}
a.nawigacja::before {
	transition: 200ms;
	filter: brightness(80%);
}
a.nawigacja::after {
	transition: 200ms;
	filter: brightness(20%);
}

.home {
	width: 6.3%;
	margin: 0;
	top: 0px;
	margin-left: 0.5%;
	transition: 250ms;
}

.home:hover {
	transition: 250ms;
	filter: brightness(80%);
}
#rangitype {
	top: 200px;
	border-bottom: 1px solid greenyellow;
	color: white;
	text-align: center;
	width: max-content;
	margin: 20px auto;
}

/*404*/

#error .center {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#error .glowna:hover {
	filter: brightness(80%);
	transition: 400ms;
}

#error a.glowna {
	background-color: rgb(22, 95, 221);
	padding: 26px 36px;
	width: 450px;
	border-radius: 15px;
	transition: 400ms;
	color: white;
	text-decoration: none;
	font-size: 140%;
	font-family: monospace;
	margin-top: 20px;
	display: inline-block;
}

#error #tlo {
	background: url(https://i.imgur.com/iLRD4Vp.png);
    position: absolute;
    z-index: -1;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
}

#error #errorh1 {
	font-size: 180px;
	margin-top: -50px;
	color: white;
	font-family: system-ui
}